:root {
  /* COLOR */
  --color-white: #faf6fe;
  --color-black: #160d1c;
  --color-dark: #21322b;
  --color-grey-light: #f3f1f3;
  --color-grey-dark: #949494;
  --color-valid: #3fe9a8;
  --color-warning: #e9833f;
  --color-error: #e93f3f;
  --color-info: #8b3fe9;

  /*Colors HSL For Opacity*/
  --color-black-opacity: 276 37% 8%;
  --color-dark-opacity: 155 20% 16%;
  --color-white-opacity: 270 80% 98%;
  --color-grey-light-opacity: 300 8% 95%;
  --color-grey-dark-opacity: 0 0% 58%;
  --color-valid-opacity: 157 79% 58%;
  --color-warning-opacity: 24 79% 58%;
  --color-error-opacity: 0 79% 58%;
  --color-info-opacity: 267 79% 58%;

  /* FONTS */
  --font-family-title: system-ui, sans-serif;
  --font-family-text: system-ui, sans-serif;
  --font-family-monospace: monospace;
  --font-size-base: 16px;
  --font-size-title-h1: 1.65rem;
  --font-size-title-h2: 1.45rem;
  --font-size-title-h3: 1.4rem;
  --font-size-title-h4: 1.375rem;
  --font-size-title-h5: 1.35rem;
  --font-size-title-h6: 1.325rem;
  --font-size-subtitle: 1.2rem;
  --font-size-important: 1.1rem;
  --font-size-text: 1rem;
  --font-size-small: .9rem;
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* SPACING */
  --spacing-null: 0;
  --spacing-small: .5rem;
  --spacing-regular: 1rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.5rem;
  --spacing-text-small: .025rem;
  --spacing-text-regular: .05rem;
  --spacing-text-large: .075rem;

  /* BORDER RADIUS */
  --border-radius: .9rem;
  --border-radius-small: .69rem;
  --border-radius-regular: .9rem;
  --border-radius-large: 1.56rem;
  --border-radius-pill: 6.25em;
  --border-radius-round: 999rem;

  /*
    Text-shadow
  */
  --text-shadow: 0 .05rem .05rem var(--color-dark);

  /*
    Box-shadow
  */
  --box-shadow:
    .2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    -.2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-hover:
    .1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45),
    -.1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-container:
    .2rem -.2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    -.2rem -.2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    .2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    -.2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-container-hover:
    .05rem -.05rem .05rem -.025rem hsla(var(--color-dark-opacity) / .45),
    -.05rem -.05rem .05rem -.025rem hsla(var(--color-dark-opacity) / .45),
    .1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45),
    -.1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-main-nav:
    0 0 0 999rem hsla(var(--color-grey-dark-opacity) / .45);
  --box-shadow-main-nav-light:
    0 0 2.4rem -.4rem hsla(var(--color-grey-dark-opacity) / .45);
  --box-shadow-container:
    inset 0 0 .25rem -.15rem var(--color-white),
    0 -.15rem .15rem -1.1rem var(--color-grey-light),
    inset -.15rem 0 .15rem -.1rem var(--color-grey-light),
    inset .15rem 0 .15rem -.1rem var(--color-grey-light),
    0 -.05rem 0.175rem -.15rem var(--color-dark),
    0 .25rem .25rem -.25rem var(--color-dark);
  --box-shadow-container-hover: inset 0 0 .25rem -.15rem var(--color-white),
    0 -.15rem .15rem -1.1rem var(--color-grey-light),
    inset -.15rem 0 .15rem -.1rem var(--color-grey-light),
    inset .15rem 0 .15rem -.1rem var(--color-grey-light),
    0 -.025rem 0.15rem -.15rem var(--color-dark),
    0 .25rem 0.05rem -.25rem var(--color-dark);
  --box-shadow-img: inset 0 0 .25rem -.15rem var(--color-white),
    0 -.25rem .25rem -.15rem var(--color-grey-light),
    inset -.15rem 0 .15rem -.1rem var(--color-grey-light),
    inset .15rem 0 .15rem -.1rem var(--color-grey-light),
    0 .35rem .35rem -.2rem var(--color-dark),
    0 .5rem .5rem -.25rem var(--color-white);
}

*,
*::before,
*::after {
  max-width: 100%;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--spacing-text-small);
}

html,
body {
  margin: var(--spacing-null);
  padding: var(--spacing-null);
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-text);
  line-height: 125%;
  background-color: var(--color-white);
  color: var(--color-black);
}

h1 {
  font-size: var(--font-size-title-h1)
}

h2 {
  font-size: var(--font-size-title-h2)
}

h3 {
  font-size: var(--font-size-title-h3)
}

h4 {
  font-size: var(--font-size-title-h4)
}

h5 {
  font-size: var(--font-size-title-h5)
}

h6 {
  font-size: var(--font-size-title-h6)
}

.subtitle {
  font-size: var(--font-size-subtitle);
}

.important {
  font-size: var(--font-size-important);
}

.small {
  font-size: var(--font-size-small);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing-small);
  list-style: none;
  padding: var(--spacing-small);

  li {
    line-height: 150%;
    padding-inline: var(--spacing-regular);
  }

  li::before {
    content: "~";
    width: max-content;
    height: var(--font-size-small);
  }

  ul>li::before {
    content: "\\";
    width: max-content;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    padding-inline: var(--spacing-null) var(--spacing-small);
  }
}

a,
a:visited {
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: var(--font-size-important);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-white);
  color: var(--color-info);
  border: .25rem solid var(--color-white);
  border-radius: var(--border-radius-pill);
  transition: opacity, box-shadow .125s linear;

  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .7;
  }

  &:is(.cta-links) {
    width: max-content;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-small);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-pill);
    box-shadow: var(--box-shadow-container);
    margin-inline: auto;
    margin-block: var(--spacing-large) var(--spacing-small);
    padding: var(--spacing-small) var(--spacing-large);

    &:hover {
      box-shadow: var(--box-shadow-container-hover);
    }
  }
}

button,
button[type="submit"],
.cta {
  width: max-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-small);
  text-decoration: none;
  font-family: monospace;
  font-size: var(--font-size-important);
  font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-white);
  color: var(--color-info);
  border: .25rem solid var(--color-white);
  border-radius: var(--border-radius-pill);
  box-shadow: var(--box-shadow-container);
  cursor:pointer;
  margin-inline: auto;
  margin-block: var(--spacing-large) var(--spacing-small);
  padding: var(--spacing-null) var(--spacing-regular);
  transition: opacity, box-shadow .125s linear;

  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .7;
  }

  &:is(.cta-links) {


    &:hover {
      box-shadow: var(--box-shadow-container-hover);
    }
  }
}

.cta-container {
  width: min(350px, 650px);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  margin-inline: auto;

  & .cta-links {
    margin-inline: var(--spacing-null);
  }
}

form{
  width:max-content;
  display:inline-flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  gap:var(--spacing-small);
}

.main-head {
  padding: var(--spacing-small) var(--spacing-regular);
}

.main-content {
  min-height: 100dvh;
  padding: var(--spacing-small) var(--spacing-regular);
}

.main-sections {
  width: max(350px, 1200px);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spaccing-small);
  margin-inline: auto;
  padding: var(--spacing-small) var(--spacing-regular);
}

.error-sections {
  width: max-content;
  background-color: var(--color-error);
  color: var(--color-white);
  padding: var(--spacing-regular) var(--spacing-large);
  margin-inline: auto;
  border-radius: var(--border-radius);
}


.main-articles {
  width: max(350px, 800px);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spaccing-small);
  background-color: var(--color-info);
  color: var(--color-white);
  padding: var(--spacing-regular) var(--spacing-large);
  margin-inline: auto;
  border-radius: var(--border-radius);
}

.border-card{
  border:.05rem solid var(--color-white);
  border-radius:var(--border-radius);
  padding:var(--spacing-small) var(--spacing-regular);
}

.main-foot {
  padding: var(--spacing-small) var(--spacing-regular);
}